.login-page {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('../../assets/resources/login-bg.jpg') no-repeat center center;
  background-size: 100% auto;
  overflow: hidden;
}

.login-card {
  max-width: 450px;
  width: 100%;
  min-width: 250px;
  padding: 50px 40px;
  background: rgba(10, 15, 30, 0.4); 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  
  box-shadow: 0 0 30px rgba(0, 210, 255, 0.3), inset 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: left;
}

.login-card h2{
  text-align: center;
}

input {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 210, 255, 0.5);
  padding: 12px 20px;
  margin: 15px 0;
  border-radius: 8px;
  color: #fff;
  outline: none;
  transition: border 0.3s;
}

input:focus {
  border-color: #00d2ff;
  box-shadow: 0 0 8px rgba(0, 210, 255, 0.5);
}

button {
  display: block;
  margin: 10px auto;
  width: 50%;
  padding: 12px;
  margin-top: 10px;
  background: linear-gradient(90deg, #00d2ff, #9d50bb);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(157, 80, 187, 0.6);
}

.sign-up-link:hover {
  text-decoration: underline;
  color: #fff;
}