<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whs.apiplatform.api.mapper.ApiCategoryMapper">

    <resultMap id="categoryResult" type="com.whs.apiplatform.api.response.ApiCategoryResponse">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="category_name" property="categoryName"/>
        <result column="sort" property="sort"/>
        <result column="ancestors" property="ancestors"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="categoryList" resultMap="categoryResult">
        select
        *
        from
        api_category
        <where>
            <if test="categoryName != null and categoryName != ''">
                and category_name LIKE CONCAT('%',#{categoryName},'%')
            </if>
        </where>
    </select>
</mapper>